.accordian-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 15px 10px;
    border-bottom: 2px solid;
}
.accordian-content{
    padding: 30px;
}