.cities-list{
    margin-top: 25px;
    padding: 10px;
    text-align: center;
}
.cities-list h2{
    font-size: 48px;
}
.cities-history{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 30px;
}
.cities-history .accordian-item{
    text-align: left;
    min-height: 50px;
}